body{
   background-color: #000; 
   text-align:center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header-main{
    color: white;
    font-weight: normal;
    font-size: 50px;
}
.link-ctn{
    font-size: 16px;
    color:aquamarine;
}

.header-sec{
    font-weight: 300;
    color:white;
    font-size: 42px;
}
.header-third{
    color:gray;
    font-size: 21px;
}
footer{
    text-align: right;
    color: gray;
    font-size:25px;

}

